{% extends 'base.html' %}
{% load staticfiles%}
{% load bootstrap_tags %}
{% block content %}

<div class="spacer"></div>
<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="welcome">
                    <h1 class="heading-mobile">Contact Us</h1>
                </div>
                <div class="fade-line-wtob"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>Please check the <a href="{% url 'faq' %}">FAQ </a>before submitting questions.</p>
                        <form action="{% url 'faq' %}">
                            {{form | as_bootstrap}}
                            <input class="btn btn-info" type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                {% include 'products/search.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}