{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="spacer"></div>
<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="welcome">
                    <h1 class="heading-mobile">FAQ</h1>
                </div>
                <div class="fade-line-wtob"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <ol>
                            <li><strong>Is this a real website?</strong></li>
                            <p>Yes and No. While this is a real website that can be easily reached over the internet, it is created for educational purposes. Please do not enter actual credit card details when testing the checkout.</p>
                            <li><strong>What are these educational purposes?</strong></li>
                            <p>As assessment for the Full Stack Developer course offered by <a href="https://www.codeinstitute.net/" target="_blank">Code Institute</a>.</p>
                            <li><strong>How do I test the checkout?</strong></li>
                            <p>Use credit card number 4242424242424242, any random 3 digit number for the CVV, and any date in the future.</p>
                            <li><strong>How was this website built?</strong></li>
                            <p>This website was built using Python, Django, Html, CSS, Bootstrap, Javascript, Jquery, and various plugin libraries.</p>
                            <li><strong>So I can't actually buy the items on this site?</strong></li>
                            <p>No. Not from this site.</p>
                            <li><strong>Where can I get actual products like those featured on the site?</strong></li>
                            <p>You can visit <a href="https://www.consolemad.co.uk/" target="_blank">consolemad.co.uk</a>, from where the products featured on this site were sourced.</p>
                            <li><strong>How does the game bible work?</strong></li>
                            <p>The game bible makes use of the <a href="https://www.igdb.com/discover" target="_blank">IGDB</a> api to get information from IGDB.</p>
                            <li><strong>So what about the shipping info and contact form?</strong></li>
                            <p>I'm afraid that is just dummy data and the contact form does not do anything. Like this faq, they are there to add an authentic feel to the site.</p>
                            <li><strong>And the social media links?</strong></li>
                            <p>These are also there to give an authentic feel, yet have no function.</p>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                {% include 'products/search.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}