{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="spacer"></div>

    <div class="container">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="welcome">
                            <h1 class="heading-mobile">Your Shopping Cart</h1>
                        </div>
                        <div class="fade-line-wtob"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% for item in cart %}
                            <div class="row item-in-cart">
                                <div class="col-xs-12 col-sm-2">
                                    <div class="cart-img-area">
                                        <img class="cart-img" src="{{MEDIA_URL}}{{item.game.image}}"></img>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="cart-subheading">
                                        <small>game</small>
                                    </div>
                                    <div class="game-title">
                                        <h5>{{item.game.title}}</h5>
                                    </div>    
                                    <p>{{item.game.brand}} {{ item.game.console }}</p>
                                </div>
                                <div class="col-xs-5 col-sm-2">
                                    <div class="cart-subheading">
                                        <small>price</small>
                                    </div>
                                    <p>€ {{item.game.price}}</p>
                                </div>
                                <div class="col-xs-7 col-sm-2">
                                    <div class="cart-subheading">
                                        <small>quantity</small>
                                    </div>
                                    <form  action="{% url 'update_quantity' %}" method="POST"  style="display:inline!important;">
                                        {% csrf_token %}
                                        <input type="hidden" name="game_id" value="{{ item.game.id }}"/>
                                        <input type="number" class="quantity" min="1" value="{{item.quantity}}" name="game_quantity"/>
                                        <input class="item-update update-quantity" type="submit" value="update"/>
                                    </form>
                                    |
                                    <form action="{% url 'remove_from_cart' %}" method="POST" style=" display:inline!important;">
                                        {% csrf_token %}
                                        <input type="hidden" name="game_id" value="{{ item.game.id }}"/>
                                        <input class="item-update delete-from-cart" type="submit" value="delete"/>
                                    </form>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <div class="cart-subheading">
                                        <small>total price</small>
                                    </div>
                                    <p>€ {{item.total}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if total > 0 %}
                            <div class="welcome">
                                <h3>Cart total:  € {{total}}</h3>
                            </div>
                        {% else %}
                            <div class="welcome">
                                <h3>Your cart is empty</h3>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 cart-buttons">
                        <a href="{% url 'all_brands' %}" class="btn btn-info">Continue Shopping</a>
                        {% if total > 0 %}
                            <a href="{% url 'checkout' %}" class="btn btn-info">Checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}