[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.6.1"
boto = "==2.49.0"
boto3 = "==1.7.66"
botocore = "==1.10.66"
certifi = "==2018.8.13"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
django-bootstrap-form = "==3.4"
django-forms-bootstrap = "==3.1.0"
django-storages = "==1.6.6"
docutils = "==0.14"
gunicorn = "==19.9.0"
idna = "==2.7"
igdb-api-python = "==1.000"
jmespath = "==0.9.3"
lxml = "==4.9.1"
psycopg2 = "==2.7.5"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
requests = "==2.19.1"
s3transfer = "==0.1.13"
stripe = "==2.4.0"
urllib3 = "==1.23"
Django = "==2.0.7"
Pillow = "==5.2.0"
python-dotenv = "*"
django-environ = "*"

[requires]
python_version = "3.6"
