body{
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------------------Navbar*/

#logo{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: 40px;
}

.navbar{
    background: rgba(0,0,0,0.8);
    transition: .3s;
}

.navbar-default{
    border-color: transparent;
}


.navbar-fixed-top.scrolled {
  background-color: rgba(255,255,255,0.9);
  transition: background-color 200ms linear;
}

.navbar-fixed-top .navbar-nav>.open>a, .navbar-fixed-top .navbar-nav>.open>a:hover, .navbar-fixed-top .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #000000;
}

.navbar-fixed-top.scrolled .navbar-nav>.open>a, .navbar-fixed-top.scrolled .navbar-nav>.open>a:hover, .navbar-fixed-top.scrolled .navbar-nav>.open>a:focus {
    color: #555;
    background-color: inherit;
    transition: background-color 200ms linear;
}

.navbar-fixed-top .dropdown-menu{
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar-fixed-top.scrolled .dropdown-menu{
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

a,a:visited,a:hover,a:active{
  transition:0.5s color ease;
}

a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  bottom:-0.25em;
  height:5px;
  height:0.35rem;
  width:0;
  background:#fa9b01;;
}

a.after:hover:after{
  width:100%;
}

a:hover{
	color:#fa9b01 !important;
}

a.nav-link:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/*---------------------------------------------------------------------End Navbar*/

/*---------------------------------------------------------------------Home Page*/

.sprite{
    width: 100%;
}

.pacman{
    background-image: url('/static/images/pacman.jpg');
}


.streetfighter{
    background-image: url('/static/images/streetfighter.jpg');
}

.sonic{
    background-image: url('/static/images/sonic.png');
}

.parallax{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content{
    margin-top: 80px;
    margin-bottom: 80px;
}

.welcome{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.content-section{
    margin-bottom: 20px;
}

.fade-line-wtob { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.sprite-img{
    text-align: center;
}

/*---------------------------------------------------------------------End Home Page*/



/*---------------------------------------------------------------------footer*/

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}

.social-link{
    height: 60px;
    width: 60px;
    background: grey;
    border-radius: 50%;
    margin: 20px 10px 0px 10px;
    font-size: 40px;
    display: inline-block;
    color: white;
    transition: all .3s ease-in-out;
}

.social-link:hover{
    color: white !important;
    transform: scale(1.05);
}

.social-link:visited{
    color: white !important;
}

.facebook-link:hover{
    background: #3B5998;
}

.instagram-link:hover{
    background-image: url('/static/images/instagram.jpg');
    background-size: cover;
}

.pinterest-link:hover{
    background: #BD081C
}        

.twitter-link:hover{
    background: #1ea1f2;
}

.fade-line-btow { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, white));
}

.footer-links{
    text-align: left;
    list-style: none;
    margin-bottom: 25px;
}

.footer-link{
    color: white !important;
}

.mt-60{
    margin-top: 60px;
}

/*---------------------------------------------------------------------end footer*/

.spacer{
    height: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.brand-group{
    text-align: center;
    height: 230px;
}

.brand-img{
    width:90%;
    vertical-align: middle;
    height: auto;
    max-height: 150px;
    
}

.product{
    width: 180px;
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
}



.product-img{
    width:100%;
    height: 180px;
    
}

.game-title{
    height: 60px;
}


@media only screen and (max-width: 990px) {
    .spacer{height: 25px;}
    .sprite {width: 40%;}
    
}

@media only screen and (max-width: 600px) {
    #logo {font-size: 20px;}
    .parallax{width:100%;}
    .sonic{background-image: url('/static/images/sonicsmall.png');}
    .streetfighter{background-image: url('/static/images/streetfightersmall.jpg');}
    .pacman{background-image: url('/static/images/Pacmansmall.jpg');}
    .social-link{height: 40px; width: 40px; font-size: 30px}
}