{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="spacer"></div>
<div class="container">
    <section class="content">
        <div class="account-management-area">
            <div class="welcome">
                <h1 class="heading-mobile">Profile</h1>
            </div>
            <div class="fade-line-wtob"></div>
            <p>name: {{user.username}}</p>
            <p>email: {{user.email}}</p>
        </div>
    </section>
</div>    

{% endblock content%}