{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="spacer"></div>
<h3>Register</h3>
<div class="container">
    <section class="content">
        <div class="account-management-area">
            <div class="welcome">
                <h1 class="heading-mobile">Register</h1>
            </div>
            <div class="fade-line-wtob"></div>
            <form method="POST">
                {% csrf_token %}
                {{form | as_bootstrap}}
                
                
                <button type="submit" class="btn btn-info">Register</button>
                
            </form>
        </div>
    </section>
</div>
{% endblock content%}