{% extends 'base.html' %}
{% load staticfiles%}
{% load bootstrap_tags %}
{% block content %}

<div class="spacer"></div>
<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="welcome">
                    <h1 class="heading-mobile">{{game.name}}</h1>
                </div>
                <div class="fade-line-wtob"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row item-in-cart">
                            <div class="col-xs-12 col-sm-6">
                                <div class="news-img-thumbnail-area">
                                    {% if game.cover %}
                                        <img class="igdb-img" src="https:{{game.cover.url}}"></img>
                                    {% else %}
                                        <img class="igdb-img" src="{{MEDIA_URL}}images/no-image.jpg"></img>
                                    {% endif %}
                                </div>
                                {% if game.first_release_date %}
                                    <div class="small-info-area">
                                        <p><small><strong>Release date: </strong></small>{{game.first_release_date}}</p>
                                    </div>
                                {% endif %}
                                {% if game.rating %}
                                    <div class="small-info-area">
                                        <p>Rating</p>
                                        {% if game.rating <= 33 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                                                aria-valuenow="{{game.rating}}" aria-valuemin="0" aria-valuemax="100" style="width:{{game.rating}}%">
                                                    {{game.rating}}%
                                                </div>
                                            </div>
                                        {% elif game.rating > 33 and game.rating <= 66 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                                                aria-valuenow="{{game.rating}}" aria-valuemin="0" aria-valuemax="100" style="width:{{game.rating}}%">
                                                    {{game.rating}}%
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                                aria-valuenow="{{game.rating}}" aria-valuemin="0" aria-valuemax="100" style="width:{{game.rating}}%">
                                                    {{game.rating}}%
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="small-info-area">
                                        <div class="progress">
                                            <div id="no-rating-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                No Rating Available
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="small-info-area">
                                    <a href="{{game.url}}" target="_blank">Find out more</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p>{{game.summary}}</p>
                                {% if game.screenshots %}
                                    <div class="screenshot-area">
                                        <p><small><strong>Screenshots</strong></small></p>
                                        <div class="row">
                                            {% for screenshot in game.screenshots %}
                                                <div class="col-xs-6 col-sm-4">
                                                    <div class="igdb-screenshot">
                                                        <a href="http:{{screenshot.url}}" data-lightbox="img-gallery">
                                                            <img class="igdb-thumbnail" src="http:{{screenshot.url}}"></img>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{% url 'get_games' %}">
                    {{form | as_bootstrap}}
                    <input type="submit" class="btn btn-info" value="Search"/>
                </form>
            </div>
            <div class="col-md-4 col-sm-12">
                {% include 'products/search.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}