{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text|Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Retro Play</title>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><div id="logo">Retro Play</div></a></li>
                </div>
            </div>
            <div class="container">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="{% url 'all_brands' %}" class="dropdown-toggle nav-link after" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'all_nintendo' %}">nintendo</a></li>
                                <li><a href="#">atari</a></li>
                                <li><a href="#">sega</a></li>
                                <li><a href="#">microsoft</a></li>
                                <li><a href="#">sony</a></li>
                                <li><a href="#">sinclair</a></li>
                                <li><a href="#">commodore</a></li>
                                <li><a href="#">3do</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link after" href="#">Blog</a></li>
                        <li><a class="nav-link after" href="#">Lounge</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link after" href="#">Login</a></li>
                        <li><a class="nav-link after" href="#">Register</a></li>
                        <!--<li><a class="nav-link after" href="#">Logout</a></li>-->
                        <li><a class="nav-link after" href="#">Cart</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %} 
    {% endblock %}
    
<footer class="page-footer">
    <div class="social-links">
        <a href="#" class="social-link facebook-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-link instagram-link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-link pinterest-link"><i class="fab fa-pinterest-p"></i></a>
        <a href="#" class="social-link twitter-link"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="fade-line-btow"></div>
    <div class="info-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="footer-links">
                        <li><a href="#" class="footer-link">Home</a></li>
                        <li><a href="#" class="footer-link">Contact</a></li>
                        <li><a href="#" class="footer-link">Deliveries & Returns Info</a></li>
                        <li><a href="#" class="footer-link">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="footer-links">
                        <li><a href="#" class="footer-link">Games</a></li>
                        <li><a href="#" class="footer-link">Blog</a></li>
                        <li><a href="#" class="footer-link">Gaming Louge</a></li>
                        <li><a href="#" class="footer-link">Game Encyclopaedia</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="mt-60">Website designed and built by Michael Park</p>
                </div>
            </div>
        </div>
    </div>
</footer>
    
<script type="text/javascript">
        $(function () {
            $(document).scroll(function () {
	            var $nav = $(".navbar-fixed-top");
	            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
	        });
	        
        });
        
    </script>
</body>

</html>
