{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/hover.css' %}" rel="stylesheet">
    <link href="{% static 'css/animations.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text|Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'images/pacman ghost.png' %}"/>
    
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><div id="logo">Retro Play</div></a></li>
                </div>
            </div>
            <div class="container">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="{% url 'all_brands' %}" id="game-shop" class="dropdown-toggle nav-link hvr-underline-from-center" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games Shop<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for brand in all_brands %}
                                    <li><a href="{% url 'show_consoles' brand=brand.name %}">{{brand.name|title}}</a></li>
                                {% endfor%}
                            </ul>
                        </li>
                        <li><a id="news" class="nav-link hvr-underline-from-center" href="{% url 'all_news' %}">News</a></li>
                        <li><a id="game-bible" class="nav-link hvr-underline-from-center" href="{% url 'get_games' %}">Game Bible</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a id="profile" class="nav-link hvr-underline-from-center" href="{% url 'profile' %}">Profile</a></li>
                            <li><a id="logout" class="nav-link hvr-underline-from-center" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a id="profile" class="nav-link hvr-underline-from-center" href="{% url 'login' %}">Login</a></li>
                            <li><a id="logout" class="nav-link hvr-underline-from-center" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle nav-link hvr-underline-from-center" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'faq' %}">FAQ</a></li>
                                <li><a href="{% url 'shipping' %}">Shipping</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </li>
                        {% if request.get_full_path == checkout %}
                            <li><a class="nav-link hvr-underline-from-center" href="{% url 'view_cart' %}">Cart 0</a></li>
                        {% else %}
                            <li><a id="cart" class="nav-link hvr-underline-from-center" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i> {% if request.get_full_path == '/checkout/confirmation' %}0{% else %}{{number_of_items}}{% endif %}</a></li>
                        {% endif %}
                            
                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    

    {% block content %} 
    {% endblock %}
    
<footer class="page-footer">
    <div class="social-links">
        <a href="#" class="social-link facebook-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-link instagram-link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-link pinterest-link"><i class="fab fa-pinterest-p"></i></a>
        <a href="#" class="social-link twitter-link"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="fade-line-btow"></div>
    <div class="info-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="footer-links">
                        <li><a href="{% url 'index' %}" class="footer-link">Home</a></li>
                        <li><a href="{% url 'contact' %}" class="footer-link">Contact</a></li>
                        <li><a href="{% url 'shipping' %}" class="footer-link">Deliveries & Returns Info</a></li>
                        <li><a href="{% url 'faq' %}" class="footer-link">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="footer-links">
                        <li><a href="{% url 'all_brands' %}" class="footer-link">Games Shop</a></li>
                        <li><a href="{% url 'all_news' %}" class="footer-link">News</a></li>
                        <li><a href="{% url 'get_games' %}" class="footer-link">Game Bible</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p class="mt-60">Website designed and built by Michael Park</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/css3-animate-it.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>  
<title>Retro Play</title>
{% block head_js %}
{% endblock head_js %}
</body>

</html>
