{% extends 'base.html' %}
{% load staticfiles%}
{% load bootstrap_tags %}
{% block content %}

<section class="pacman parallax">
    <a href="#start-content"><i class="fas fa-angle-down moving-angle"></i></a>
</section>
<div id="start-content" class="c64-background">
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="welcome">
                        <h1 class="heading-mobile extra-margin-mobile">Welcome to Retro Play</h1>
                    </div>
                    <div class="fade-line-wtob"></div>
                    <div class="content-section">
                        <p>We have a large selection of games for all your favorite retro consoles in stock.</p>
                    </div>
                    <h3 class="mb-20">Featured Products</h3>
                    {% for game in games %}
                        {% include 'products/product_display.html' %}
                    {% endfor %}
                    <p><a href="{% url 'all_brands' %}" class="nav-link">Click here to view our extensive collection of games</a></p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="sprite-img">
                        <img src="{% static 'images/mariosprite.png' %}" class="sprite"></img>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section class="streetfighter parallax"></section>

<div class="c64-background2">
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="sprite-img">
                        <img src="{% static 'images/SpaceInvadersSprite.png' %}" class="sprite"></img>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="welcome">
                        <h1 class="heading-mobile">Read the Latest News</h1>
                    </div>
                    <div class="fade-line-wtob"></div>
                    <div class="content-section">
                        <p>Keep up with the latest news from the world of retro Gaming. Got some thoughts? Leave a comment!</p>
                    </div>
                    <h3>Today's Featured Article</h3>
                    {% for article in article %}
                            <div class="row item-in-cart">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="news-img-thumbnail-area">
                                        <img class="news-img-thumbnail" src="{{MEDIA_URL}}{{article.image}}"></img>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="news-headline-area">
                                        <a href="{% url 'view_article' article.id %}"><h4>{{article.title}}</h4></a>
                                    </div>
                                    <div>
                                        <p>{{article.content | truncatewords:40}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    <p><a href="{% url 'all_news' %}" class="nav-link">Click here to see all news</a></p>
                </div>
            </div>
        </section>
    </div>
</div>

<section class="sonic parallax"></section>

<div class="c64-background3">
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="welcome">
                        <h1 class="heading-mobile extra-margin">Consult the Bible</h1>
                    </div>
                    <div class="fade-line-wtob"></div>
                    <div class="content-section">
                        <p>Want to know more about any of the games featured on our site?</p>
                        <p>Better yet, want to know more about any game ever? Consult the Games Bible!</p>
                    </div>
                    <form action="{% url 'get_games' %}">
                        {{form | as_bootstrap}}
                        <input type="submit" class="btn btn-info" value="Search"/>
                    </form>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="sprite-img">
                        <img src="{% static 'images/zeldasprite.png' %}" class="sprite"></img>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
