<div class="pagination">
    {% if games.has_previous %}
        <a class="pagination-angle" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
        <a class="pagination-angle" href="?page={{games.previous_page_number}}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    {% for num in games.paginator.page_range%}
        {% if games.number == num %}
            <strong>{{num}}</strong>
        {% else %}
            <a href="?page={{num}}">{{num}}</a>
        {% endif %}
    {% endfor %}
    {% if games.has_next %}
        <a class="pagination-angle" href="?page={{games.next_page_number}}"><i class="fas fa-angle-right"></i></a>
        <a class="pagination-angle" href="?page={{games.paginator.num_pages}}"><i class="fas fa-angle-double-right"></i></a>
    {% endif %}
</div>