<div class="col-md-3 col-xs-6 brand-group game-group">
    <div class="game-container">
        <img class="console-img game-img" src="{{MEDIA_URL}}{{game.image}}"></img>
        <form action="{% url 'add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="game_id" value="{{ game.id }}" />
            <button type="submit" class="btn btn-info add-to-cart-btn hvr-icon-forward"><i class='fas fa-shopping-cart hvr-icon'></i> Add To Cart</button>
        </form>
        <form action="{% url 'get_games' %}">
            <input type="hidden" name="igdb_search" value="{{game.title}}" />
            <input type="submit" value="Search in the Bible" class="btn btn-success search-in-bible-btn" />
            <button type="submit" class="btn btn-success search-in-bible-btn hvr-icon-grow-rotate"><i class="fas fa-search hvr-icon"></i> Search the Bible</button>
        </form>
    </div>
    <div>
        <div class="game-title">
            <h5>{{game.title}}</h5>
        </div>
        <p>{{game.brand}} {{ game.console }}</p>
        <p>€ {{game.price}}</p>
    </div>
</div>
