{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="spacer"></div>
<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="welcome">
                    <h1 class="heading-mobile">{{console}} games</h1>
                </div>
                <div class="fade-line-wtob"></div>
                <div class="row">
                    {% for game in games %}
                        {% include 'products/product_display.html' %}
                    {% endfor %}
                </div>
                {% include 'products/pagination.html' %}
            </div>
            <div class="col-md-4 col-sm-12">
                {% include 'products/search.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}