{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="welcome">
                    <h1>Choose a brand</h1>
                </div>
                <div class="fade-line-wtob"></div>
                <!--<div class="container-fluid">-->
                    <div class="row">
                        {% for game in games %}
                        <div class="col-lg-3 col-sm-4 col-xs-6 product-group">
                            <div class="product">
                                <img class="product-img" src="{{game.image}}">
                                <div>
                                    <div class="game-title">
                                        <h5>{{game.title}}</h5>
                                    </div>    
                                    <p>{{game.brand}}</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="clearfix"></div>-->
                        {% endfor %}
                    <!--</div>-->
                </div>
            </div>    
        </div>
    </section>
</div>
{% endblock %}