{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<div class="spacer"></div>
<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="welcome">
                    <h1>{{ brand.name }} consoles</h1>
                </div>
                <div class="fade-line-wtob"></div>
                <div class="row">
                    {% for console in consoles %}
                    <div class="col-md-4 col-xs-6 brand-group">
                        <div class="console-display">
                            <div class="shrink">
                                <a href="{% url 'show_games' console=console.console_type %}">
                                    <img class="console-logo" src="{{MEDIA_URL}}{{console.logo}}"></img>
                                    <img class="console-img" src="{{MEDIA_URL}}{{console.image}}"></img>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                {% include 'products/search.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}